h1 {
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 625;
}

form {
    text-align: center;
}

label {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

input {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

header {
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 550;
    font-size: 25px;
}

p {
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 550;
    font-size: 20px;
}