{% extends "layout.html" %}

 {% block title %}Song Genre Categorizer{% endblock %}

 {% block content %}
      <br><h1>Song Genre Categorizer</h1>
      <form action="/song_result" method="post">
        <label for="song">Song Name: </label>
        <input type="text" id="song" name="song">
        <label for="space">&nbsp;&nbsp;&nbsp;</label>
        <label for="artist">Artist: </label>
        <input type="text" id="artist" name="artist"><br><br>
        <input type="submit" value="Predict the Genre"><br><br><br>
        <p for="table">Our testing data:</p>
      </form>  
      <iframe
        width = 100%
        height = "8885"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRm6lxTKXQDRTyPLJwdC8DGzZ_zoS0TY28tz6hr_sy5xcXhcAIZ8bPTibB_LwMVMT-3rvuq2NhJv12p/pubhtml?gid=449912101&single=true">
      </iframe>
 {% endblock %}
